<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS reverse proxy -> Docker container (NeedApp.API) on http://localhost:8081
  Requires IIS modules: URL Rewrite 2.x + Application Request Routing (ARR).
  Enable ARR proxy (one-time, as admin):
    %windir%\system32\inetsrv\appcmd.exe set config -section:system.webServer/proxy /enabled:"True" /commit:apphost
  The HTTP_X_FORWARDED_* server variables must be allow-listed below so URL Rewrite can set them.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <allowedServerVariables>
        <remove name="HTTP_X_FORWARDED_PROTO" />
        <add name="HTTP_X_FORWARDED_PROTO" />
        <remove name="HTTP_X_FORWARDED_HOST" />
        <add name="HTTP_X_FORWARDED_HOST" />
        <remove name="HTTP_X_FORWARDED_FOR" />
        <add name="HTTP_X_FORWARDED_FOR" />
      </allowedServerVariables>
      <rewriteMaps>
        <rewriteMap name="MapProtocol">
          <add key="on" value="https" />
          <add key="off" value="http" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="ReverseProxyToDocker" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:8081/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="{MapProtocol:{HTTPS}}" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
        </rule>
      </rules>
      <outboundRules>
        <rule name="RewriteLocationHeader" preCondition="IsRedirect">
          <match serverVariable="RESPONSE_Location" pattern="^http(s)?://localhost:8081/(.*)" />
          <action type="Rewrite" value="http{R:1}://{HTTP_HOST}/{R:2}" />
        </rule>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
        <verbs>
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
